.main-content-1 {
  background-image: url("/images/bg.png");
}
.main-content-2 {
  background-color: #666;
}
.main-content-1,
.main-content-2 {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  z-index: 100;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  min-height: 100vh;
}
.article-back {
  display: flex;
  justify-content: center;
}
.article-back a {
  color: #ddd;
  font-weight: normal;
  font-size: 0.8rem;
  text-decoration: none;
}
.padding-top {
  height: 6rem;
}
.overlay p {
  color: #ddd;
  font-size: 0.8rem;
  margin: 0.2rem 4rem;
  line-height: 2rem;
}
.overlay h5 {
  margin: 2rem 4rem 0;
  color: #17a24f;
}
.overlay h1 {
  color: #fff;
  margin: 1rem 4rem;
}
.main-history {
  display: flex;
  flex-direction: column;
}

.article-history {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  max-height: 35vh;
  overflow: auto;
}
.section::-webkit-scrollbar {
  display: none;
}

.img {
  width: 60%;
  object-fit: cover;
}
.main-history-2 {
}

.section-history-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: auto;
}
.section-history-2::-webkit-scrollbar {
  display: none;
}
.section-history-2 p {
  color: #ddd;
  font-size: 0.8rem;
  margin: 0.2rem 4rem 0.2rem 0;
  line-height: 2rem;
}
.section-history-2 h5 {
  margin: 2rem 4rem 0;
  color: #17a24f;
}
.section-history-2 h1 {
  color: #fff;
  margin: 1rem 4rem;
}
.article-history-2 {
  display: flex;
}
